.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.icon {
  z-index: 2;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  top: 15px;
  left: 1rem;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.gray_icon {
  background-image: url('../assets/search.svg');
}

.blue_icon {
  background-image: url('../assets/search-blue.svg');
}

.input {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 1rem 1rem 1rem 2.5rem;
  color: #a4a5a7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  background-color: #e6eaed;
  line-height: 19.2px;
  display: inline-block;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.input::placeholder {
  transition: 0.3s ease-in-out;
  color: rgba(164, 165, 167, 1);
}
.input:hover {
  transition: 0.6s ease-in-out;
  background-color: #e6eaed;
  outline: 1px solid #004aa3;
}

.input:focus {
  background-color: #e6eaed;
  outline: 1px solid #004aa3;
  color: #005ed0;
}
.input:focus::placeholder {
  color: #005ed0;
}
