#root {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.content {
  display: flex;
  width: 62%;
  margin: 0 auto;
}

.left {
  flex-basis: 20%;
}

.left h3 {
  text-transform: uppercase;
  margin-bottom: 24px;
}

.right {
  flex-basis: 80%;
}

.right h1 {
  color: #1f1f1f;
  font-size: 60px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 45px;
}

.tag-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.tag-btn {
  cursor: pointer;
  transition: 0.4s ease-out;
}

.tag-btn:active {
  color: #ffffff;
  background: linear-gradient(138deg, #005ed0 0%, #489bff 100%);
}

.tag-btn:hover {
  background: rgba(186, 187, 188, 0.753)
}