#root {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wrapper {
  max-width: 1144px;
}

.content {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

h1 {
  color: #1f1f1f;
  font-size: 60px;
  font-weight: 800;
  line-height: normal;
}

.block {
  margin-top: 60px;
  display: flex;
}

.searching {
  align-items: center;
  column-gap: 25px;
}

.left {
  flex-basis: 20%;
}

.left h3 {
  text-transform: uppercase;
  margin-bottom: 24px;
}

.right {
  flex-basis: 80%;
  min-width: 80;
}

.right h1 {
  color: #1f1f1f;
  font-size: 60px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 45px;
}

.tag-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.tag-btn {
  cursor: pointer;
  transition: 0.3s ease-out;
}

.tag-btn:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.181);
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preloader {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border: 7px solid #005ed0;
  border-left-color: #489bff;
  border-right-color: transparent;
  border-bottom-color: #9dc7fb;
  border-radius: 100%;

  -webkit-animation: spin 600ms infinite linear;
  -moz-animation: spin 600ms infinite linear;
  -ms-animation: spin 600ms infinite linear;
  animation: spin 600ms infinite linear;
}
