#root {
  max-width: 1920px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  position: relative;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #1f1f1f;
  font-size: 60px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 45px;
}

.filters {
  min-width: 175px;
  width: 15%;
}

.content {
  min-width: 875px;
  width: 80%;
}